/* You can add global styles to this file, and also import other style files */
body{
    background-color: #000000;
    
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    /* box-sizing: border-box;  */
}

 @media (max-width: 430px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
} 