<div class="formulario">
  <h1 id="contact">Contact</h1>      
  <form action="https://formsubmit.co/59f391ab443039f48974e9f5a394b8d2" method="POST" id="form">
      <input name="name" type="text" class="feedback-input" placeholder="Name *" required />   
      <input name="email" type="text" class="feedback-input" placeholder="E-mail *" required/>
      <textarea name="text" class="feedback-input" placeholder="Say something to me! *" required></textarea>
      <input type="submit" value="SUBMIT"/>
    </form>
</div>